name: Main CI/CD

on:
  pull_request:
    branches:
      - main
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: write
  packages: write
  pull-requests: read
  security-events: write
  id-token: write
  attestations: write

jobs:
  pull-request-check:
    name: Pull Request Check
    if: github.event_name == 'pull_request'
    uses: mandacode-lab/mandacode-workflows/.github/workflows/go_pull_request.yml@v0.1.4
    with:
      go-version: "1.25.5"
      build-path: "./..."
      test-path: "./..."
      test-flags: "-v -race -coverprofile=coverage.out"
      enable-coverage: true
      coverage-threshold: 0
      lint-version: "latest"
      lint-args: "./..."
      enable-security-scan: true
