name: Main CI/CD

on:
  pull_request:
    branches:
      - main
      - develop

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  go-ci:
    name: Go CI
    uses: mandacode-lab/workflows/.github/workflows/go-ci.yml@v0.2.1
    with:
      go-version: "1.25.6"
      enable-coverage: true
      coverage-threshold: 0
      enable-security-scan: true
      test-paths: "./..."
